.App {
  margin: 50px;
}

.play-button {
  margin-bottom: 10px;
  width: 50px;
  height: 30px;
  background-color: #fff;
}

/* .grid-container {
  display: flex;
  flex-direction: row;
}

.grid-item {
  background-color: grey;
  height: 30px;
  width: 30px;
  border: 1px solid black;
}

.row {
  height: 30px;
}

.grid-container-row {
  display: flex;
  flex-direction: row;
} */